body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    height:100%;
    margin: 0;
    padding: 0;
  }
  
  .pricing-section {
    text-align: center;
    padding: 50px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    min-height: 100vh; /* Add this line */
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
  .plans-container {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .plan {
    background-color: #f9f9f9;
    color: #121212;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .plan h2 {
    background-color: #6200ea;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
  }
  
  .plan h3 {
    margin: 15px 0;
    font-size: 20px;
  }
  
  .plan ul {
    list-style: none;
    padding: 0;
  }
  
  .plan ul li {
    margin: 10px 0;
    font-size: 16px;
  }
  
  button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #3700b3;
  }
  
  .coming-soon {
    background-color: gray;
  }
  
  .select-plan {
    background-color: #03dac6;
  }